:root {
  --color-primary: #37393C;
  --color-primary-light: #9BA2AD;
  --color-primary-medium: #52555A;

  --font-primary: Roboto, sans-serif;

  --border-thin: 4px;
  --border-thick: 8px;

  --hover-color: rgba(155, 162, 173, .25);

  --deadspace: 2px;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  font-style: bold;
  color: var(--color-primary);
}

h2 {
  font-family: var(--font-primary);
  color: var(--color-primary-light);
}

h3 {
  font-family: var(--font-primary);
  color: var(--color-primary-light);
}

h4 {
  font-family: var(--font-primary);
  color: var(--color-primary-light);
}

h5 {
  font-family: var(--font-primary);
  color: var(--color-primary-light);
}

h6 {
  font-family: var(--font-primary);
  color: var(--color-primary-light);
}

p {
  font-family: var(--font-primary);
  color: var(--color-primary-light);
}

abbr {
  font-family: var(--font-primary);
}

li {
  font-weight: bold;
  color: var(--color-primary-light);
}

a {
  color: inherit;
  text-decoration: none;
}

mark {
  color: var(--color-primary-light);
  background-color: var(--color-primary-medium);
}

.text-dark {
  color: var(--color-primary);
}
