.footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 999;
  border-top: var(--border-thin) solid var(--color-primary-medium);
  background-color: var(--color-primary);
}

html {
  background-color: var(--color-primary);
}

.t-dark {
  color: var(--color-primary);
}

.t-light {
  color: var(--color-primary-light);
}
