.masthead {
  height: calc(15vh);
  border-bottom: var(--border-thin) solid var(--color-primary-medium);
}
.content {
  height: calc(70vh);
}
.footer {
  height: calc(15vh);
  border-top: var(--border-thin) solid var(--color-primary-medium);
  background-color: var(--color-primary);
}
